$white: #fff;
$black: #000;
$bg: rgba(255,255,255,.75);
$green: #59692A;

///////////////////////////
// Breakpoint Variables
///////////////////////////
$palm-small  : 25em;    // 400px
$palm-medium : 30em;  // 480px
$palm-large  : 35em;  // 560px

$lap-small   : 40em;    // 640px
$lap-medium  : 48em;    // 768px
$lap-large   : 60em;    // 960px

$desk-small  : 65em;    // 1040px
$desk-medium : 80em;    // 1280px
$desk-large  : 90em;    // 1440px

$breakpoint-no-queries: false;
$breakpoint-no-query-fallbacks: true;

///////////////////////////
// FDN Breakpoint Variables
///////////////////////////
// Media Queries
$small-screen: 768px !default;
$medium-screen: 1280px !default;
$large-screen: 1440px !default;
// Here we define the lower and upper bounds for each media size
$small-range: (0em, 40em); /* 0, 640px */
$medium-range: (40.063em, 64em); /* 641px, 1024px */
$large-range: (64.063em, 90em); /* 1025px, 1440px */
$xlarge-range: (90.063em, 120em); /* 1441px, 1920px */
$xxlarge-range: (120.063em); /* 1921px */


///////////////////////////
// Base-units
///////////////////////////
$base-unit: 1em;
$base-unit-half: 0.5em;
$base-unit-quarter: 0.25em;
