.cart {
  background-color: $black;
  color: $white;
  display: inline-block;
  padding: 0.5em;
  margin: auto;
  cursor: pointer;
  margin-bottom: 0.5em;
  &:hover {
    background-color: lighten($black, 15%);
  }
}

.coupon-input {
  width: 140px;
}

// Lightbox overrides
body #PPMiniCart {
  width: 100%;
  left: auto !important;
  ul {
    max-width: 100%;
  }
  form {
    max-width: 100%;
    margin: auto;
    display: block;
  }
}
