.dealers {
  p {
    display: inline-block;
    width: 100%;
    margin: 1em;
    vertical-align: top;
    @include breakpoint(370px) {
        width: 39%;
    }
  }
  a {
    text-decoration: none;
    color: #363434;
    font-weight: bold;
    &:hover {
      color: #999999;
    }
  }
}
