h1 {
  font-size: 1.5em;
  @include breakpoint($lap-small) {
    font-size: 2em;
  }
}

.main {
    background-color: $bg;
    border-radius: 5px;
    border: solid 2px #fff;
    padding-bottom: 1em;
}

.article {
  border-bottom: solid 1px rgba(0, 0, 0, 0.19);
  &:last-of-type {
    border-bottom: none;
  }
}

.container-padding {
    padding: 1em 1em;
    @include breakpoint($small-screen) {
        padding: 3em 2em;
    }
}

img {
    display: block;
    margin: auto;
}

* {
    line-height: normal;
}
